@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin 'daisyui';
@plugin 'daisyui/theme' {
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --font-chivo: 'Chivo';
  --font-archivo: 'Archivo';
}

html,
body {
  @apply font-chivo bg-white dark:bg-gray-900;
  color-scheme: light dark;
  width: 100%;
  background-color: var(--color-gray-100);
  font-family: 'Archivo';

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.font-archivo {
  font-family: 'Archivo', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

.font-chivo {
  font-family:
    'Chivo', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
